<div class="container">
  <h3 translate>Añadir Staff</h3>
  <section role="data" class="row staffs">
    <div class="col-md-9">
      <form [formGroup]="myform" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="name-input" translate>Nombre</label>
          <input id="name-input" minlength="1" type="text" class="form-control" formControlName="name" placeholder="{{'Nombre principal' | translate}}" required />
        </div>
        <div class="form-group">
          <label for="alt-names" translate>Nombres Alternativos</label>
          <tag-input name="alt-names" id="alt-names" formControlName="altNames" [secondaryPlaceholder]="'Presionar Enter después de escribir el nombre.'"></tag-input>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="birth-place" translate>Lugar de nacimiento</label>
            <input id="birth-place" type="text" class="form-control" formControlName="birthPlace" placeholder="{{'Ciudad, País' | translate}}" />
          </div>
          <div class="form-group col-md-4">
            <label for="birth-date" translate>Fecha de nacimiento</label>
            <ng-datepicker class="newdatepicker-input d-block col-md-12" formControlName="birthDate" [options]="datePickerOptions"
              [(ngModel)]="birthDate"></ng-datepicker>
          </div>
          <div class="form-group col-md-4">
            <label for="gender" translate>Género</label>
            <select formControlName="gender" class="custom-select d-block col-md-12" id="gender">
              <option value="1" translate>Masculino</option>
              <option value="2" translate>Femenino</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="description-input" translate>Descripción</label>
          <textarea formControlName="description" class="form-control" id="description-input" rows="3"></textarea>
        </div>
        <!-- RELACIÓN
          <div class="form-group *ngFor="let rel of relations">
            <label for="guionInput" translate>Guión</label>
            <tag-input (click)="getStaff()" [secondaryPlaceholder]="'Buscar...'" [onlyFromAutocomplete]="true" formControlName="author">
              <tag-input-dropdown [showDropdownIfEmpty]="false" [autocompleteItems]="staff"></tag-input-dropdown>
            </tag-input>
          </div>-->
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="website" translate>Sitio web</label>
            <input id="website" type="text" class="form-control" formControlName="website" placeholder="{{'Sitio web' | translate}}" />
          </div>
          <div class="form-group col-md-6">
            <label for="twitter" translate>Twitter</label>
            <input id="twitter" formControlName="twitter" type="text" class="col-md-10 form-control" placeholder="Nombre de usuario" />
          </div>
        </div>
        <div class="form-group">
          <label class="d-block" translate>Imagen</label>
          <label class="custom-file col-md-12">
            <input type="file" id="cover" (change)="onFileChange($event)" class="custom-file-input" #fileInput />
            <span class="custom-file-control"></span>
          </label>
        </div>
        <button type="submit" [disabled]="isLoading" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-3">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading" translate>¡Importante!</h4>
        <p translate>Para obener información acerca de alguna serie puedes usar alguna de estas fuentes: MAL, MU.</p>
        <hr/>
        <p class="mb-0" translate>Si no encuentras algúna autor, revista, editorial, etc. debes agregarlos en su respectivo formulario.</p>
      </div>
    </div>
  </section>
</div>
