<div class="container">
  <h3 translate>Añadir Revista</h3>
  <section role="data" class="row series">
    <div class="col-md-9">
      <form [formGroup]="myform" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="name-input" translate>Nombre</label>
            <input minlength="1" type="text" class="form-control" id="name-input" formControlName="name" placeholder="{{'Nombre de la revista' | translate}}"
              required />
          </div>
          <div class="form-group col-md-6">
            <label for="name-alt-input" translate>Nombre Nativo</label>
            <input minlength="1" type="text" class="form-control" id="name-alt-input" formControlName="nameAltInput" placeholder="{{'Nombre nativo de la revista' | translate}}"
              required/>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="release-schedule" translate>Frecuencia</label>
            <select formControlName="releaseSchedule" class="custom-select d-block col-md-12" id="release-schedule">
              <option *ngFor="let schedule of schedules" value="{{schedule}}" translate>{{schedule}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="publisher" translate>Editorial</label>
            <ng-template #rt let-r="result" let-t="term">
              {{ r.name}}
            </ng-template>
            <input id="publisher" type="text" class="form-control" [class.is-invalid]="searchFailed" [ngbTypeahead]="getPublishers" placeholder="Editorial" [resultTemplate]="rt" [inputFormatter]="formatter" formControlName="publisher" />
          </div>
          <div class="form-group col-md-4">
            <label for="circulation" translate>Circulación</label>
            <div class="input-group">
              <input class="form-control" formControlName="circulation" placeholder="yyyy-mm-dd" name="circulation" [navigation]="'select'"
                ngbDatepicker #d="ngbDatepicker"/>
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="description-input" translate>Descripción</label>
          <textarea formControlName="description" class="form-control" id="description-input" rows="3"></textarea>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="website" translate>Sitio web</label>
            <input type="text" class="form-control" id="website" formControlName="website" placeholder="{{'Sitio web' | translate}}"
              required />
          </div>
          <div class="form-group col-md-6">
            <label for="twitter" translate>Twitter</label>
            <input formControlName="twitter" type="text" class="col-md-12 form-control" placeholder="Nombre de usuario" id="twitter"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="d-block" translate>Imagen</label>
          <label class="custom-file col-md-12">
            <input type="file" id="cover" (change)="onFileChange($event)" class="custom-file-input" #fileInput />
            <span class="custom-file-control"></span>
          </label>
        </div>
        <button type="submit" [disabled]="isLoading" class="btn btn-primary" translate>Enviar</button>
      </form>
    </div>
    <div class="col-md-3">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading" translate>¡Importante!</h4>
        <p translate>Para obener información acerca de alguna serie puedes usar alguna de estas fuentes: MAL, MU.</p>
        <hr/>
        <p class="mb-0" translate>Si no encuentras algúna autor, revista, editorial, etc. debes agregarlos en su respectivo formulario.</p>
      </div>
    </div>
  </section>
</div>