<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a>
    <button class="navbar-toggler" type="button" aria-controls="navbar-menu"
            aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <i class="fa fa-home"></i>
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/releases" routerLinkActive="active">
          <i class="fa fa-newspaper-o"></i>
          <span translate>Releases</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/staff" routerLinkActive="active">
          <i class="fa fa-newspaper-o"></i>
          <span translate>Staffs</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/magazine" routerLinkActive="active">
          <i class="fa fa-newspaper-o"></i>
          <span translate>Revistas</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/scan" routerLinkActive="active">
          <i class="fa fa-newspaper-o"></i>
          <span translate>Scans</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/browse" routerLinkActive="active">
          <i class="fa fa-list-alt"></i>
          <span translate>Browse</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item" ngbDropdown placement="bottom-right">
          <a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{currentLanguage}}</a>
          <div ngbDropdownMenu aria-labelledby="language-dropdown">
            <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
              {{language}}
            </button>
          </div>
        </div>
        <div class="nav-item" ngbDropdown placement="bottom-right" *ngIf="isLoggedIn">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fa fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown">
            <h6 class="dropdown-header">
              <span translate>Logged in as</span> <b>{{username}}</b></h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
        <div class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/auth/login">
            <span translate>Login</span>
          </a>
        </div>
        <div class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLink="/auth/register">
            <span translate>Register</span>
          </a>
        </div>
      </div>
    </div>
  </nav>
  <!--<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>-->
</header>
