<app-cover *ngIf="serie" [serie]="serie"></app-cover>

<!--<app-loader [isLoading]="isLoading"></app-loader>-->
<div class="container" *ngIf="serie">
  <section role="data" class="row series">
    <div class="col-md-3 serie-info">
      <div class="cover" [ngStyle]="{'background-image': 'url(' + serie.cover.medium.path_full +')'}"></div>
      <!--<div class="library">
        <label class="d-block" translate>Biblioteca</label>
        <div class="btn-group-vertical col-md-12" role="group" aria-label="Biblioteca">
          <button type="button" class="btn btn-secondary">Completado</button>
          <button type="button" class="btn btn-secondary active">Quiero leer</button>
          <button type="button" class="btn btn-secondary">Estoy leyendo</button>
        </div>
      </div>-->
      <h5 translate>Géneros</h5>
      <ul class="series-genres list-inline">
        <li class="list-inline-item" *ngFor="let genre of serie.genres">
          <a href="#" class="badge badge-secondary">{{genre.name}}</a>
        </li>
      </ul>
      <dl class="info series-info">
        <dd translate>Nombres alternativo(s)</dd>
        <dt>
          <ul>
            <li *ngFor="let name of serie.names">
              {{name}}
            </li>
          </ul>
        </dt>
        <dd translate>Revista(s)</dd>
        <dt>
          <ul>
            <li *ngFor="let magazine of serie.magazines">
              <a routerLink="/magazine/{{magazine.id}}/{{magazine.stub}}">{{magazine.name}}</a>
            </li>
          </ul>
        </dt>
      </dl>
    </div>
    <div class="col-md-9">
      <div class="serie-sinopsis mb-4">
        <h4 translate>Sinopsis</h4>
        <p>{{serie.description}}</p>
      </div>
      <h4 translate>Staff</h4>
      <div class="series-staff row mb-4">
        <a [routerLink]="['/staff', staff.id_staff, staff.stub]" class="col-md-4 col-sm-12 mb-2 staff-block" *ngFor="let staff of serie.staffFormated">
          <div class="rounded-circle staff-img d-block-inline" [ngStyle]="{'background-image': 'url(' + staff.image_url_full +')'}"></div>
          <div class="staff-info d-inline-block align-top">
            <span class="staff-name" [routerLink]="['/staff', staff.id_staff, staff.stub]">
              <div>{{staff.name}}</div>
            </span>
            <span class="staff-rol">
              <div>
                <span *ngFor="let rol of staff.rol; let isLast=last">
                  {{rol}} {{isLast ? '' : ' & '}}
                </span>
              </div>
            </span>
          </div>
        </a>
      </div>
      <ngb-tabset>
        <ngb-tab>
          <ng-template ngbTabTitle translate>Capítulos</ng-template>
          <ng-template ngbTabContent>
            <table *ngIf="serie.releases.length > 0" class="table table-striped">
              <tbody>
                <tr *ngFor="let release of serie.releases">
                  <td>c.{{release.chapter}}</td>
                  <td>{{release.created | date: 'dd/MM/yyyy'}}</td>
                  <td class="text-right">
                    <span *ngFor="let scan of release.groups; let isLast=last">
                      <a [routerLink]="['/scan', scan.group_id, scan.stub]">{{scan.name}}</a>{{isLast ? '' : ' & '}}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-center text-muted mt-5" *ngIf="serie.releases.length === 0" translate>
              No hay capítulos traducidos para esta serie :(.
            </p>
            <p class="text-right" *ngIf="serie.releases.length > 0">
              <a class="button small" translate>Ver todos los capítulos</a>
            </p>
          </ng-template>
        </ngb-tab>
        <!--<ngb-tab [disabled]="true">
          <ng-template ngbTabTitle>Tomos</ng-template>
          <ng-template ngbTabContent>
            <p>Lista de tomos.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab [disabled]="true">
          <ng-template ngbTabTitle>Reviews</ng-template>
          <ng-template ngbTabContent>
            <p>Reviews con su respectiva nota (rate).</p>
          </ng-template>
        </ngb-tab>-->
      </ngb-tabset>
    </div>
  </section>
</div>