/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

html,
body {
  min-height: 100%;
  height: 100%;
}

.custom-file-control:lang(en)::after,
.custom-file-control:lang(en):empty::after {
  content: "Seleccionar archivo...";
}

.custom-file-control:lang(en)::before {
  content: "Buscar";
}
