/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

body {
  margin-bottom: 10px;
}

.custom-file-control:lang(en):empty::after,
.custom-file-control:lang(en)::after {
  content: "Seleccionar archivo...";
}

.custom-file-control:lang(en)::before {
  content: "Buscar";
}
