<div class="container">
  <section role="data" class="row series">
    <div class="col-md-9">
      <h3>Capítulos recientes</h3>
      <app-loader [isLoading]="isLoading"></app-loader>
      <table *ngIf="!isLoading" class="table table-striped">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let serie of series">
            <td>
              <a [routerLink]="['/serie', serie.id, serie.stub]">{{serie.name}}</a>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="explore-sidebar  col-md-3">
      <div class="explore-search-wrapper">
        <span class="icon"><svg class="svg-icon-use" width="25" height="25" viewBox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
        <input placeholder="What are you searching for?" type="search" id="ember584" class="explore-search-input ember-view" />
      </div>
    </div>
  </section>
</div>
