$font-size: 38px;
$line-height: 1.2;
$lines-to-show: 2;

.carousel {
  margin-top: -1rem;
  border-bottom: 1px solid #666;
}

.carousel-caption {
  z-index: 10;
  margin-left: 16rem;
  padding-bottom: 0;
  right: none;
  bottom: 0;
  left: none;

  h1 {
    text-shadow: 1px 1px 9px rgba(0, 0, 0, 0.7);
    max-width: 50%;
  }

  p {
    margin-bottom: 0.2rem;
  }
}

.carousel-item {
  height: 17rem;
  background-color: #777;
}

.carousel-item > img {
  filter: blur(2px);
  min-width: 100%;
  margin-top: -30%;
}

.gradient-bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 1) 100%);
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

/* Badges
------------------------- */
.badges {
  float: right;
  margin-top: 2.5rem;

  .badge {
    font-weight: normal;
  }
}

/* Ranking
------------------------- */
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}

.filled {
  color: #1e90ff;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 767px) {
  .carousel-item {
    height: 17rem;
  }

  .carousel-caption {
    margin-left: 0;
    top: 1rem;

    h1 {
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
      display: flex;
      max-width: 480px;
      height: $font-size*$line-height*$lines-to-show;
      font-size: $font-size;
      line-height: $line-height;
      -webkit-line-clamp: $lines-to-show;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p {
      text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.7);
    }
  }

  .gradient-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 1) 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=0);
  }
}
