<div class="container">
  <div class="row">

    <div class="explore-page col-sm-9 no-padding-left">
      <h3>Buscar Serie</h3>
      <div class="explore-search">
        <div class="explore-search-wrapper">
          <div class="col-auto">
            <label class="sr-only" for="search">Buscar</label>
            <div class="input-group mb-2 mb-sm-0">
              <div class="input-group-addon">
                <svg class="svg-icon-use" width="25" height="25" viewBox="0 0 25 25">
                  <path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path>
                </svg>
              </div>
              <input type="text" class="form-control" id="search" placeholder="Buscar..." />
            </div>
          </div>

        </div>

        <div class="explore-search-info">
          O has una
          <a href="/serie">búsqueda avanzada</a>
        </div>
      </div>

      <div class="explore-section" *ngIf="browseSeries$ | async as browse">
        <h6 translate>Populares de la semana</h6>
        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <app-serie-card class="cover-card skeleton-loader-background" *ngFor="let serie of browse.series.trendingThisWeek" [serie]="serie"></app-serie-card>
            </div>
          </div>
        </div>
        <div class="explore-section-more">
          <a href="/explore/manga/trending" translate>Ver más</a>
        </div>
      </div>

      <div class="explore-section" *ngIf="browseSeries$ | async as browse">
        <h6 translate>Mejor votados</h6>
        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <app-serie-card class="cover-card skeleton-loader-background" *ngFor="let serie of browse.series.highRatedSeries" [serie]="serie"></app-serie-card>
            </div>
          </div>
        </div>
        <div class="explore-section-more">
          <a href="/explore/manga/trending" translate>Ver más</a>
        </div>
      </div>

      <div class="explore-section" *ngIf="browseSeries$ | async as browse">
        <h6 translate>Más Populares</h6>
        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <app-serie-card class="cover-card skeleton-loader-background" *ngFor="let serie of browse.series.mostPopularSeries" [serie]="serie"></app-serie-card>
            </div>
          </div>
        </div>
        <div class="explore-section-more">
          <a href="/explore/manga/trending" translate>Ver más</a>
        </div>
      </div>

      <div class="explore-section" *ngIf="browseSeries$ | async as browse">
        <h6 translate>Agregados Recientemente</h6>
        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <app-serie-card class="cover-card skeleton-loader-background" *ngFor="let serie of browse.series.recentlyAdded" [serie]="serie"></app-serie-card>
            </div>
          </div>
        </div>
        <div class="explore-section-more">
          <a href="/explore/manga/trending" translate>Ver más</a>
        </div>
      </div>

      <div class="explore-section" *ngIf="browseSeries$ | async as browse">
        <h6 translate>Nuevos del Mes</h6>
        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <app-serie-card class="cover-card skeleton-loader-background" *ngFor="let serie of browse.series.trendingThisMonth" [serie]="serie"></app-serie-card>
            </div>
          </div>
        </div>
        <div class="explore-section-more">
          <a href="/explore/manga/trending" translate>Ver más</a>
        </div>
      </div>

    </div>

    <div class="explore-sidebar col-sm-3">
      <div class="card is-sticky">
        <div class="favorite-categories">
          <h5 class="text-uppercase" translate>Mis categorías favoritas</h5>
          <ul class="list-unstyled categories-list">
            Favoriting categories will improve your recommendations.
          </ul>
        </div>

        <div class="categories">
          <h5 class="text-uppercase" translate>Categorías</h5>
          <div>
            <ul class="list-unstyled categories-list">
              <li>
                <a href="/explore/manga/category/comedy">Comedy</a>
              </li>
              <li>
                <a href="/explore/manga/category/fantasy">Fantasy</a>
              </li>
              <li>
                <a href="/explore/manga/category/friendship">Friendship</a>
              </li>
            </ul>

            <div class="categories-more">
              <a href="#">More categories...</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>