<app-loader [isLoading]="isLoading"></app-loader>
<div class="container" *ngIf="series">
  <div class="row">

    <div class="explore-page col-sm-9 no-padding-left">
      <h3>Explore Manga</h3>
      <div id="ember578" class="explore-search ember-view">
        <div class="explore-search--wrapper">
          <span class="icon"><svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
          <input placeholder="What are you searching for?" type="search" id="ember584" class="explore-search-input ember-view">
        </div>

        <div id="ember585" class="ember-view">
          <!---->
        </div>

        <div class="explore-search-info">
          Or, browse with the <a href="/manga">advanced search</a>
        </div>
      </div>

      <div id="ember590" class="explore-section ember-view">
        <h6>
          Trending This Week
        </h6>

        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <div class="poster-wrapper">
                <div id="ember913" class="ember-view ember-tether-target ember-tether-element-attached-middle ember-tether-element-attached-left ember-tether-target-attached-middle ember-tether-target-attached-right">
                  <div class="grid-poster">
                    <div id="ember942" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/26004/medium.jpg?1435486914"></div>
                    <div class="poster-overlay">
                      <a href="/manga/boku-no-hero-academia"></a>
                      <div id="ember947" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember952" tabindex="0" data-ebd-id="ember952-trigger"
                          role="button" id="ember957" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember952" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember964" class="ember-view ember-tether-target ember-tether-element-attached-middle ember-tether-element-attached-left ember-tether-target-attached-middle ember-tether-target-attached-right">
                  <div class="grid-poster">
                    <div id="ember965" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/36424/medium.jpg?1491612232"></div>
                    <div class="poster-overlay">
                      <a href="/manga/tomo-chan-wa-onnanoko"></a>
                      <div id="ember966" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember967" tabindex="0" data-ebd-id="ember967-trigger"
                          role="button" id="ember968" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember967" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember971" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember972" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/38/medium.jpg?1434249476"></div>
                    <div class="poster-overlay">
                      <a href="/manga/one-piece"></a>
                      <div id="ember973" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember974" tabindex="0" data-ebd-id="ember974-trigger"
                          role="button" id="ember975" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember974" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember978" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember979" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/38752/medium.jpg?1490061478"></div>
                    <div class="poster-overlay">
                      <a href="/manga/mousou-telepathy"></a>
                      <div id="ember980" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember981" tabindex="0" data-ebd-id="ember981-trigger"
                          role="button" id="ember982" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember981" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember985" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember986" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/68/medium.jpg?1501129943"></div>
                    <div class="poster-overlay">
                      <a href="/manga/hunter-x-hunter"></a>
                      <div id="ember987" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember988" tabindex="0" data-ebd-id="ember988-trigger"
                          role="button" id="ember989" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember988" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="explore-section-more">

          <a href="/explore/manga/trending">View more</a>
        </div>
      </div>

      <div id="ember611" class="explore-section ember-view">
        <h6>
          Top Publishing Manga
        </h6>

        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <div class="poster-wrapper">
                <div id="ember1110" class="ember-view ember-tether-target ember-tether-element-attached-middle ember-tether-element-attached-left ember-tether-target-attached-middle ember-tether-target-attached-right">
                  <div class="grid-poster">
                    <div id="ember1111" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/14916/medium.jpg?1491099787"></div>
                    <div class="poster-overlay">
                      <a href="/manga/shingeki-no-kyojin"></a>
                      <div id="ember1112" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1113" tabindex="0" data-ebd-id="ember1113-trigger"
                          role="button" id="ember1114" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1113" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1116" class="ember-view ember-tether-target ember-tether-element-attached-middle ember-tether-element-attached-left ember-tether-target-attached-middle ember-tether-target-attached-right">
                  <div class="grid-poster">
                    <div id="ember1117" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/8/medium.jpg?1439065896"></div>
                    <div class="poster-overlay">
                      <a href="/manga/berserk"></a>
                      <div id="ember1118" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1119" tabindex="0" data-ebd-id="ember1119-trigger"
                          role="button" id="ember1120" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1119" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1122" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1123" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/38/medium.jpg?1434249476"></div>
                    <div class="poster-overlay">
                      <a href="/manga/one-piece"></a>
                      <div id="ember1124" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1125" tabindex="0" data-ebd-id="ember1125-trigger"
                          role="button" id="ember1126" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1125" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1129" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1130" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/24147/medium.jpg?1434302168"></div>
                    <div class="poster-overlay">
                      <a href="/manga/one-punch-man"></a>
                      <div id="ember1131" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1132" tabindex="0" data-ebd-id="ember1132-trigger"
                          role="button" id="ember1133" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1132" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1136" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1137" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/1554/medium.jpg?1497436998"></div>
                    <div class="poster-overlay">
                      <a href="/manga/shokugeki-no-souma"></a>
                      <div id="ember1138" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1139" tabindex="0" data-ebd-id="ember1139-trigger"
                          role="button" id="ember1140" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1139" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="explore-section-more">

          <a href="/explore/manga/top-current">View more</a>
        </div>
      </div>

      <div id="ember658" class="explore-section ember-view">
        <h6>
          Top Upcoming Manga
        </h6>

        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <div class="poster-wrapper">
                <div id="ember1073" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1074" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/39249/medium.jpg?1493515947"></div>
                    <div class="poster-overlay">
                      <a href="/manga/berserk-hono-ryu-no-kishi"></a>
                      <div id="ember1075" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1076" tabindex="0" data-ebd-id="ember1076-trigger"
                          role="button" id="ember1077" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1076" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1080" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1081" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/39489/medium.jpg?1495666750"></div>
                    <div class="poster-overlay">
                      <a href="/manga/hinowa-ga-yuku"></a>
                      <div id="ember1082" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1083" tabindex="0" data-ebd-id="ember1083-trigger"
                          role="button" id="ember1084" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1083" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1087" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1088" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/39515/medium.jpg?1496013907"></div>
                    <div class="poster-overlay">
                      <a href="/manga/chiisako-no-niwa"></a>
                      <div id="ember1089" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1090" tabindex="0" data-ebd-id="ember1090-trigger"
                          role="button" id="ember1091" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1090" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1094" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1095" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/39611/medium.jpg?1496791776"></div>
                    <div class="poster-overlay">
                      <a href="/manga/action-heroine-cheer-fruits"></a>
                      <div id="ember1096" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1097" tabindex="0" data-ebd-id="ember1097-trigger"
                          role="button" id="ember1098" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1097" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1101" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1102" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/39675/medium.jpg?1497812867"></div>
                    <div class="poster-overlay">
                      <a href="/manga/migi-to-dari"></a>
                      <div id="ember1103" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1104" tabindex="0" data-ebd-id="ember1104-trigger"
                          role="button" id="ember1105" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1104" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="explore-section-more">

          <a href="/explore/manga/top-upcoming">View more</a>
        </div>
      </div>

      <!---->
      <div id="ember665" class="explore-section ember-view">
        <h6>
          Highest Rated Manga
        </h6>

        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <div class="poster-wrapper">
                <div id="ember1035" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1036" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/8/medium.jpg?1439065896"></div>
                    <div class="poster-overlay">
                      <a href="/manga/berserk"></a>
                      <div id="ember1037" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1038" tabindex="0" data-ebd-id="ember1038-trigger"
                          role="button" id="ember1039" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1038" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1042" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1043" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/66/medium.jpg?1490571198"></div>
                    <div class="poster-overlay">
                      <a href="/manga/fullmetal-alchemist"></a>
                      <div id="ember1044" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1045" tabindex="0" data-ebd-id="ember1045-trigger"
                          role="button" id="ember1046" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1045" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1049" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1050" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/9964/medium.jpg?1450575040"></div>
                    <div class="poster-overlay">
                      <a href="/manga/oyasumi-punpun"></a>
                      <div id="ember1051" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1052" tabindex="0" data-ebd-id="ember1052-trigger"
                          role="button" id="ember1053" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1052" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1056" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1057" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/3625/medium.jpg?1466643614"></div>
                    <div class="poster-overlay">
                      <a href="/manga/jojo-s-bizarre-adventure-part-7-steel-ball-run"></a>
                      <div id="ember1058" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1059" tabindex="0" data-ebd-id="ember1059-trigger"
                          role="button" id="ember1060" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1059" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1063" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1064" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/1482/medium.jpg?1473601731"></div>
                    <div class="poster-overlay">
                      <a href="/manga/vagabond"></a>
                      <div id="ember1065" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1066" tabindex="0" data-ebd-id="ember1066-trigger"
                          role="button" id="ember1067" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1066" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="explore-section-more">

          <a href="/explore/manga/highest-rated">View more</a>
        </div>
      </div>

      <div id="ember672" class="explore-section ember-view">
        <h6>
          Most Popular Manga
        </h6>

        <div class="media-browse">
          <div class="media-grid container">
            <div class="row">
              <div class="poster-wrapper">
                <div id="ember999" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1000" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/35/medium.jpg?1434261423"></div>
                    <div class="poster-overlay">
                      <a href="/manga/naruto"></a>
                      <div id="ember1001" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1002" tabindex="0" data-ebd-id="ember1002-trigger"
                          role="button" id="ember1003" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1002" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1006" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1007" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/14916/medium.jpg?1491099787"></div>
                    <div class="poster-overlay">
                      <a href="/manga/shingeki-no-kyojin"></a>
                      <div id="ember1008" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1009" tabindex="0" data-ebd-id="ember1009-trigger"
                          role="button" id="ember1010" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1009" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1013" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1014" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/8/medium.jpg?1439065896"></div>
                    <div class="poster-overlay">
                      <a href="/manga/berserk"></a>
                      <div id="ember1015" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1016" tabindex="0" data-ebd-id="ember1016-trigger"
                          role="button" id="ember1017" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1016" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1020" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1021" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/7176/medium.jpg?1435593370"></div>
                    <div class="poster-overlay">
                      <a href="/manga/tokyo-ghoul-m"></a>
                      <div id="ember1022" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1023" tabindex="0" data-ebd-id="ember1023-trigger"
                          role="button" id="ember1024" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1023" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
              <div class="poster-wrapper">
                <div id="ember1026" class="ember-view">
                  <div class="grid-poster">
                    <div id="ember1027" class="lazy-image is-loaded ember-view"><img src="https://media.kitsu.io/manga/poster_images/38/medium.jpg?1434249476"></div>
                    <div class="poster-overlay">
                      <a href="/manga/one-piece"></a>
                      <div id="ember1028" class="library-state ember-view"><button aria-owns="ember-basic-dropdown-content-ember1029" tabindex="0" data-ebd-id="ember1029-trigger"
                          role="button" id="ember1030" class="button button--primary w-100 ember-basic-dropdown-trigger ember-view">      Add To Library
        </button>
                        <div id="ember-basic-dropdown-content-ember1029" style="display: none;" class="ember-basic-dropdown-content-placeholder"></div>

                      </div>
                    </div>
                  </div>


                  <!---->
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="explore-section-more">

          <a href="/explore/manga/most-popular">View more</a>
        </div>
      </div>
    </div>




    <div class="explore-sidebar col-sm-3">
      <div class="card is-sticky">
        <div class="favorite-categories">
          <h5 class="text-uppercase">My Favorite Categories</h5>
          <ul class="list-unstyled categories-list">
            Favoriting categories will improve your recommendations.
          </ul>
        </div>

        <div class="categories">
          <h5 class="text-uppercase">Categories</h5>
          <div id="ember806" class="ember-view">
            <ul class="list-unstyled categories-list">
              <li>
                <a href="/explore/manga/category/comedy">Comedy</a>
              </li>
              <li>
                <a href="/explore/manga/category/fantasy">Fantasy</a>
              </li>
              <li>
                <a href="/explore/manga/category/romance">Romance</a>
              </li>
              <li>
                <a href="/explore/manga/category/action">Action</a>
              </li>
              <li>
                <a href="/explore/manga/category/school-life">School Life</a>
              </li>
              <li>
                <a href="/explore/manga/category/tragedy">Tragedy</a>
              </li>
              <li>
                <a href="/explore/manga/category/shoujo-ai">Shoujo Ai</a>
              </li>
              <li>
                <a href="/explore/manga/category/science-fiction">Science Fiction</a>
              </li>
              <li>
                <a href="/explore/manga/category/daily-life">Daily Life</a>
              </li>
              <li>
                <a href="/explore/manga/category/adventure">Adventure</a>
              </li>
              <li>
                <a href="/explore/manga/category/sports">Sports</a>
              </li>
              <li>
                <a href="/explore/manga/category/japan">Japan</a>
              </li>
              <li>
                <a href="/explore/manga/category/earth">Earth</a>
              </li>
              <li>
                <a href="/explore/manga/category/thriller">Thriller</a>
              </li>
              <li>
                <a href="/explore/manga/category/present">Present</a>
              </li>
              <li>
                <a href="/explore/manga/category/historical">Historical</a>
              </li>
              <li>
                <a href="/explore/manga/category/asia">Asia</a>
              </li>
              <li>
                <a href="/explore/manga/category/harem">Harem</a>
              </li>
              <li>
                <a href="/explore/manga/category/magic">Magic</a>
              </li>
              <li>
                <a href="/explore/manga/category/horror">Horror</a>
              </li>
              <li>
                <a href="/explore/manga/category/mecha">Mecha</a>
              </li>
              <li>
                <a href="/explore/manga/category/shounen-ai">Shounen Ai</a>
              </li>
              <li>
                <a href="/explore/manga/category/music">Music</a>
              </li>
              <li>
                <a href="/explore/manga/category/super-power">Super Power</a>
              </li>
              <li>
                <a href="/explore/manga/category/psychological">Psychological</a>
              </li>
              <li>
                <a href="/explore/manga/category/plot-continuity">Plot Continuity</a>
              </li>
              <li>
                <a href="/explore/manga/category/motorsport">Motorsport</a>
              </li>
              <li>
                <a href="/explore/manga/category/demon">Demon</a>
              </li>
              <li>
                <a href="/explore/manga/category/military">Military</a>
              </li>
              <li>
                <a href="/explore/manga/category/violence">Violence</a>
              </li>
              <li>
                <a href="/explore/manga/category/parody">Parody</a>
              </li>
              <li>
                <a href="/explore/manga/category/future">Future</a>
              </li>
              <li>
                <a href="/explore/manga/category/fantasy-world">Fantasy World</a>
              </li>
              <li>
                <a href="/explore/manga/category/past">Past</a>
              </li>
              <li>
                <a href="/explore/manga/category/contemporary-fantasy">Contemporary Fantasy</a>
              </li>
              <li>
                <a href="/explore/manga/category/space">Space</a>
              </li>
              <li>
                <a href="/explore/manga/category/virtual-reality">Virtual Reality</a>
              </li>
              <li>
                <a href="/explore/manga/category/vampire">Vampire</a>
              </li>
              <li>
                <a href="/explore/manga/category/high-school">High School</a>
              </li>
              <li>
                <a href="/explore/manga/category/friendship">Friendship</a>
              </li>
            </ul>

            <div class="categories-more">
              <a href="#" data-ember-action="" data-ember-action-847="847">More categories...</a>
            </div>

            <!---->
          </div>
        </div>
      </div>
    </div>





  </div>
</div>