<div class="container">
  <div class="jumbotron text-center">
    <h1>
      <span translate>Bienvenido a
        <span translate>APP_NAME</span>
      </span>
    </h1>
    asdsd
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div *ngFor="let poll of polls">
        <app-poll [poll]="poll" [showDesc]="'true'" [title]="'h2'" [color]="'warning'"></app-poll>
      </div>
      <p class="text-right">
        <a routerLink="/polls" translate>Ver todas las encuestas</a>
      </p>
      <hr/>
      <div class="card" *ngFor="let new of news">
        <div class="card-img-top" [ngStyle]="{'background-image': 'url(' + new.image + ')'}"></div>
        <div class="card-body">
          <h4 class="card-title">{{ new.title }}</h4>
          <p class="card-text">{{ new.content }}</p>
          <a href="#" class="btn btn-primary">Leer mas</a>
          <p class="float-right post-info">
            <span class="info-user">
              <i class="fa fa-user-circle"></i>
              <a href="#">{{ new.user[0].first_name }}</a>
            </span>
            <span class="info-date">
              <i class="fa fa-clock-o"></i> {{ new.created | date }}</span>
            <span class="info-likes">
              <i class="fa fa-heart"></i> {{ new.likes }}</span>
          </p>
        </div>
      </div>
      <p class="text-right">
        <a routerLink="/news" translate>Ver todas las noticias</a>
      </p>
    </div>
    <div class="col-sm-3 offset-sm-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset" *ngIf="poll">
        <app-poll [poll]="poll" (notify)="onNotify($event)"></app-poll>
        <div class="text-center">
          <button *ngIf="poll && !poll.answered" (click)="vote()" translate>Votar</button>
        </div>
      </div>
    </div>
  </div>
</div>