.card {
  margin-top: 10px;

  .card-img-top {
    height: 12rem;
    background-position: center center;
  }

  .post-info {
    font-size: 80%;
    margin-top: 0.6rem;

    span {
      margin-right: 0.2rem;
    }
  }
}
